numpy
pandas
scikit-learn
scipy
torch
waitress
Werkzeug
blinker
certifi
charset-normalizer
click
colorama
Flask
idna
itsdangerous
jalali_core
jdatetime
Jinja2
MarkupSafe
PyJWT
python-dateutil
python-dotenv
requests
six
urllib3
git+https://github.com/thingsboard/thingsboard-python-rest-client