<!DOCTYPE html>
<html lang="en">
<head>

<link rel="icon" type="image/x-icon" href={{ url_for('ghabz.static', filename="/images/favicon.ico") }}>
<title>{% block title %}{% endblock %}_ آبی نگار</title>
<meta charset="UTF-8">

<!--jquery v1 CDN-->
{#for persian cllender#}
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<!--jquery v1 CDN end-->

<!-- bootstrap CDN -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<!-- bootstrap CDN end -->

<!--font link nastaligh-->
<link rel="preconnect" href="//fdn.fontcdn.ir">
<link rel="preconnect" href="//v1.fontapi.ir">
<link href="https://v1.fontapi.ir/css/IranNastaliq" rel="stylesheet">
<link href="https://v1.fontapi.ir/css/Lotus" rel="stylesheet">
<!--font link nastaligh end-->

<link rel="stylesheet" href="{{ url_for('ghabz.static', filename='css/style.css') }}">

{% block style %}{% endblock %}
</head>
<body>
{#    <nav class="navbar bg-primary border-bottom">#}
{#      <div class="container-fluid">#}
{##}
{#        <a class="navbar-brand" href="https://abinegar.com">#}
{#          <img src={{ url_for("static", filename="/images/cropped-logo1.jpg") }} alt="Bootstrap" width="90" height="60">#}
{#        </a>#}
{##}
{#        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">#}
{#            <span class="navbar-toggler-icon"></span>#}
{#        </button>#}
{##}
{#        <div class="collapse navbar-collapse" id="navbarNav">#}
{#              <ul class="navbar-nav">#}
{#                <li class="nav-item">#}
{#                  <a class="nav-link active" aria-current="page" href="#">Home</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                  <a class="nav-link" href="#">Features</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                  <a class="nav-link" href="#">Pricing</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                  <a class="nav-link disabled" aria-disabled="true">Disabled</a>#}
{#                </li>#}
{#              </ul>#}
{#        </div>#}
{#      </div>{#container-fluid#}
{#    </nav>#}

<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom navbar-light ">
  <div class="container-fluid">

    <a class="navbar-brand centered-navbar-brand font-nastaligh" href="https://abinegar.com">سامانه گزارش مصرف آبی نگار</a>

    <a class="navbar-brand" href="https://abinegar.com">
    <img src={{ url_for("ghabz.static", filename="/images/cropped-logo1.jpg") }} alt="Bootstrap" width="90" height="60">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav" >
{#      <ul class="navbar-nav nav-tabs custom-nav-tabs ms-auto flex-row-reverse w-100">#}
{#        <li class="nav-item">#}
{#          <a class="nav-link active" aria-current="page" href="#">Home</a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#          <a class="nav-link" href="#">Features</a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#          <a class="nav-link" href="#">Pricing</a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#          <a class="nav-link disabled" aria-disabled="true">Disabled</a>#}
{#        </li>#}
      </ul>
    </div>
  </div>
</nav>

{% block form %}
{% endblock %}


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{% block jsScript %}
{% endblock %}
</body>
</html>