{% extends "ABI_NEGAR_TEMPLATE.html" %}
{% block title %}کنتور های فعال {% endblock %}
{% block style %}

<!--persian callender-->
{#    https://github.com/behzadi/persianDatepicker#}
    <link type="text/css" rel="stylesheet" href="{{ url_for('ghabz.static', filename='css/persianDatepicker.css') }}" />
<!--persian callender end-->

<!--clock picker-->
    {#<script type="text/javascript" src="{{ url_for('ghabz.static', filename='js/jquery-clock-timepicker.min.js') }}"></script>#}
    {#<script type="text/javascript">#}
    {#$(document).ready(function() {#}
    {#    $('.precisionTime5').clockTimePicker({precision: 5});});#}
    {##}
    {#</script>#}
<!--clock picker end-->

<!--font awsome cdn-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--font awsome cdn end -->
<!-- clockpicker css -->

{% endblock %}

{%  block jsScript %}


{% endblock %}

{% block form %}
    <form>
        <div class="formContainer">
            <nav class="navbar navbar-expand-md navbar-light navigation-bar-2">
            {#  <a class="navbar-brand" href="#">Flask Market</a>#}
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('ghabz.hello_world') }}">ارائه قبض<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('ghabz.telemerty') }}">چارت تمامی کنتورها </a>
                    </li>
                </ul>
            {#    <ul class="navbar-nav">#}
            {#        <li class="nav-item">#}
            {#            <a class="nav-link" href="#">Login</a>#}
            {#        </li>#}
            {#        <li class="nav-item">#}
            {#            <a class="nav-link" href="#">Register</a>#}
            {#        </li>#}
            {#    </ul>#}
              </div>
            </nav>
            <select name="meter_kind_selection" id="meter_kind_selection" class="meterSelect form-select font-nazanin" aria-label="Default select example" autofocus="true">
                <option selected value="None">نوع کنتور را انتخاب کنید</option>
                <option value="water">آب</option>
                <option value="electricity">برق</option>
                <option value="gas" disabled=true>گاز</option>
            </select>
            <div class="d-flex justify-content-center">
              <button type="button" class="btn btn-primary" id="submit-butt">
                  <span>Submit</span>
    {#                  <span role="status">Loading...</span>#}
              </button>  {# never use type="submit" when using fetch API#}
            </div>

            <div class="d-flex justify-content-center">
                  <button type="button" class="btn btn-primary" id="spinner" hidden="true" disabled="true">
                      <span class="spinner-grow spinner-border" ></span>
    {#                  <span role="status">Loading...</span>#}
                  </button>  {# never use type="submit" when using fetch API #}

                </div>
{#            <button class="submitButton" id="submit-butt">Submit</button>#}
        </div>

{#        <select name="meter_kind_selection" id="meter_kind_selection" class="form-select centered-form-object font-nazanin" aria-label="Default select example" autofocus="true">#}
{#          <option selected value="None">نوع کنتور را انتخاب کنید</option>#}
{#          <option value="water">آب</option>#}
{#          <option value="electricity">برق</option>#}
{#          <option value="gas" disabled=true>گاز</option>#}
{#            </select>#}

        <select name="meter_place_selection" id="meter_place_selection" class="form-select centered-form-object font-nazanin" aria-label="Default select example" disabled="true" hidden="true">
            <option selected value="None">محل کنتور را انتخاب کنید</option>
          </select>

{#        <div class="d-flex justify-content-center">#}
{#          <button type="button" class="btn btn-primary" id="submit-butt">#}
{#              <span>Submit</span>#}
{#                  <span role="status">Loading...</span>#}
{#          </button>  {# never use type="submit" when using fetch API#}
{#        </div>#}
{##}
{#        <div class="d-flex justify-content-center">#}
{#              <button type="button" class="btn btn-primary" id="spinner" hidden="true" disabled="true">#}
{#                  <span class="spinner-grow spinner-border" ></span>#}
{#                  <span role="status">Loading...</span>#}
{#              </button>  {# never use type="submit" when using fetch API #}
{##}
{#            </div>#}


{#        <div>#}
{#          <button type="button" id="next-button" class="btn align-right font-nazanin next-page-butt" onclick="goToNextPage()">صفحه بعدی</button>#}
{#        </div>#}


    </form>

    <div id="data-div" class="font-nazanin">

        </div>

    <div id="error-division" class="error-div font-nazanin">

    </div>

    <div id="error-start-time-division" class="error-div font-nazanin">

        </div>
    <div id="error-stop-time-division" class="error-div font-nazanin">

        </div>
    <div class="deviceContainer font-nazanin" id="deviceContainer">
        <!-- Devices will be generated here -->
        </div>



{#	<script src="script.js"></script>#}
{#	<script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>#}


        <script>const meter_name_API_url = "{{ url_for('ghabz.meter_name_API') }}"</script>
        <script>const get_all_isAlive_data_API_url = "{{ url_for('ghabz.get_all_isAlive_data_API') }}"</script>
         <script type="text/javascript" src="{{ url_for('ghabz.static', filename='js/Tel_Page3.js') }}"></script>

{% endblock %}